// Main CSS

@import 'bootstrap'
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,700')

$azul-escuro: #2F3A4A
$azul: #0094BB
$preto: #34342B
$cinzinha: #EEEEEE
$cinza: #F5F5F5
$azul-vetor: #7fc7df

//rs
$verde: #00A23B
$vermelho: #FF231B
$amarelo: #FDFD00


body
  background-color: $cinza
header
  padding: 60px 0 40px
  background: linear-gradient(to right, #008fc2, #009ea6)


.logotype
  max-width: 235px
  height: auto
  margin: 0 auto
  display: block

section
  font-family: 'Oswald', sans-serif

  @media screen and (min-width: 800px) // desktop
    width: 820px //MUDAR QUANDO FOR MANDAR AO MOODLE
    height: 700px //MUDAR NO MOODLE
    margin: 40px auto 60px
    //background-color: #e4e4e4

  @media screen and (max-width: 799px) // mobile
    //background-color: white
    position: relative
    background-image: url(http://wagnerrosa.com/board-game-rizoma/img/map1-curves-mobile.svg)
    background-position: center
    background-size: cover
    background-attachment: fixed
    padding: 20px 0

.tabuleiro
  @media screen and (min-width: 800px) // desktop
    position: relative
    width: 820px
    height: 700px
    //margin: 80px auto 40px auto
    background-image: url(http://wagnerrosa.com/board-game-rizoma/img/map1-curves.svg)
    //background-image: url(/img/map1-curves.svg)
    background-position: center
    background-repeat: no-repeat
    background-size: auto
    overflow: hidden
    border-radius: 5px
  @media screen and (max-width: 799px) // mobile
    padding-left: 20vw
    position: relative

#linha
  position: absolute
  top: 0
  left: -20px

.linhas
  stroke: rgba(251, 251, 251, 0.1)
  stroke-width: 9px
  z-index: 10

footer
  img
    margin: 40px auto
    display: block
    max-width: 150px



#modulo-1, #modulo-2, #modulo-3, #modulo-4, #modulo-5
  color: white
  &:hover
    text-decoration: none
    .bola
      transform: scale(1.2)
      text-decoration: none
      .tags
        opacity: 1
        text-decoration: none
  @media screen and (min-width: 800px) // desktop
    width: 100%
    position: absolute
    height: 20%
    font-size: 18px
    transition: 300ms
    display: block
    //margin: 30px 10px 30px 50px
  @media screen and (max-width: 799px) // mobile
    padding: 20px 0
    display: block


#modulo-1
  @media screen and (min-width: 800px) // desktop
    top: 0%

#modulo-2
  @media screen and (min-width: 800px) // desktop
    top: 20%

#modulo-3
  @media screen and (min-width: 800px) // desktop
    top: 40%

#modulo-4
  @media screen and (min-width: 800px) // desktop
    top: 60%

#modulo-5
  @media screen and (min-width: 800px) // desktop
    top: 80%

.arrow-down
  &::after
    content: ""
    position: absolute
    width: 0
    height: 0
    border-left: 10px solid transparent
    border-right: 10px solid transparent
    border-top: 30px solid white
    top: 55px
    left: 18px

.arrow-left
  &::after
    content: ""
    position: absolute
    width: 0
    height: 0
    border-top: 10px solid transparent
    border-bottom: 10px solid transparent
    border-right: 30px solid white
    top: 19px
    left: -30px

.tags
  @media screen and (min-width: 800px) // desktop
    position: absolute
    background-color: $azul-vetor
    color: white
    height: 65px
    text-align: center
    border-radius: 5px
    //padding: 20px
    box-shadow: 0px 3px 8px rgba(0,0,0,0.2)
    opacity: 0 //MUDAR PARA O TRANSITION
    transition: 300ms
    transition-delay: 100ms
    z-index: 5

.bola
  background-color: $azul-vetor
  border-radius: 50px
  width: 65px
  height: 65px
  text-align: center
  line-height: 61px
  box-shadow: 0px 3px 8px rgba(0,0,0,0.2)
  @media screen and (min-width: 800px) // desktop
    position: absolute
    float: left
    z-index: 100
    border: 4px solid $azul-vetor
    transition: 300ms
  @media screen and (max-width: 799px) // mobile
    float: left

.tag-1

  @media screen and (min-width: 800px) // desktop
    top: 72px
    left: 224px
    padding: 20px 20px 20px 40px

.bola-1
  @media screen and (min-width: 800px) // desktop
    top: 72px
    left: 184px

.tag-2
  @media screen and (min-width: 800px) // desktop
    top: 25px
    right: 145px
    padding: 20px 20px 20px 40px


.bola-2
  @media screen and (min-width: 800px) // desktop
    top: 25px
    right: 248px

.tag-3
  @media screen and (min-width: 800px) // desktop
    top: 71px
    right: 143px
    padding: 20px 40px 20px 20px

.bola-3
  @media screen and (min-width: 800px) // desktop
    top: 71px
    right: 105px

.tag-4
  @media screen and (min-width: 800px) // desktop
    top: 8px
    right: 400px
    padding: 20px 40px 20px 20px

.bola-4
  @media screen and (min-width: 800px) // desktop
    top: 8px
    right: 361px

.tag-5
  @media screen and (min-width: 800px) // desktop
    top: 25px
    left: 190px
    padding: 20px 20px 20px 40px

.bola-5
  @media screen and (min-width: 800px) // desktop
    top: 25px
    left: 153px


// MEDIA SIZES
@media screen and (max-width: 800px)
  .tabuleiro
    width: auto
    background-position: top
